#clock {
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
    color: #b6e4d5;
    font-size: 80px;
    text-shadow: 5px 5px 5px #eb3f7f10;
}

#welcome {
    font-size: 40px;
    color: #e4d0b6;
}

#box1, #box2, #box3{
    background-color: #2a2331;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #eb3f7f10;
    width: 25%;
    max-width: 300px;
    font-size: 32px;
    transition: transform .2s;
}

#box1{
    color: #ed3f7f;
}
#box2 {
    color: #9985d1;
}

#box3 {
    color: #e0c4a4;
}

body {
    background-color: #191722;
    margin: 0;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
    color: #dedbeb;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    margin: 0 auto;
}

#ta1:hover, #ta2:hover, #ta3:hover {
    color: #af2256;
}

#ta21:hover, #ta22:hover, #ta23:hover {
    color: #4f50aa;
}

#ta31:hover, #ta32:hover, #ta33:hover {
    color: #c0935f;
}

#box1:hover, #box2:hover, #box3:hover {
    transform: scale(1.1);
}


#searchbar:hover {
    width: 70%;
    max-width: 925px;
}

#searchbar:focus {
    width: 70%;
    max-width: 925px;
    border: 5px solid #2a2331;
}

#searchbar {
    width: 35%;
    height: 45px;
    max-width: 925px;
    border: 5px solid #2a2331;
    background-color: #2a2331;
    color: #c678dd;
    font-family: inherit;
    font-size: 18px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 3px #eb3f7f10;
    transition: width 0.35s;
    transition-delay: 0.35s;
}

.site {
    position: absolute;
    margin: 0;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Iosevka', Tahoma, Geneva, Verdana, sans-serif;
}